#contact form {
  font-size: 1.2rem;
}

#contact label {
  display: block;
  width: 50%;
  margin: 0 auto;
}

input,
textarea,
input:focus,
textarea:focus {
  width: 100%;
  padding: 1rem;
  color: var(--black);
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  cursor: pointer;
  margin: 1rem 0 2rem;
}

textarea {
  /* resize:nome anula la propiedad de modificar el tamaño del textarea desde el navegador */
  resize: none;
}

#contact form button {
  background-color: var(--secondary);
  color: var(--white);
  margin: 3rem;
  border-radius: 15px;
  padding: 0.8rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease;
}

#contact form button:hover {
    background-color: var(--secondary-dark);
}

#social-media img{
    border-radius: 10rem;
    background-color: var(--white);
    margin: 1rem;
    transition: all ease .3s;
}

#social-media a {
    text-decoration: none;
}

#linkedin:hover {
    background-color: #0077b5;
}

#github:hover {
    background-color: black;
}

#youtube:hover {
    background-color: red;
}